Actividad 1 - Diseño XML y validacion/Tarea 1/empresa.dtd

<!ELEMENT empresa ((departamentoInformatica)?, (departamentoPeople)?)>
<!ELEMENT departamentoInformatica (empleado+)>
<!ELEMENT departamentoPeople (empleado+)>
<!ELEMENT empleado (nombre,apellidos,cargo,telefonoMovil,telefonoFijo?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT cargo (#PCDATA)>
<!ELEMENT telefonoMovil (#PCDATA)>
<!ELEMENT telefonoFijo (#PCDATA)>