Actividad 1 - Diseño XML y validacion/Tarea 2/clubPadel.dtd

<!ELEMENT clubPadel (persona)+>
<!ELEMENT persona (nombre,apellido1,(apellido2?),(telefono?)+, (correo+), socio)>
<!ATTLIST persona 
  genero (Masculino|Femenino) #REQUIRED 
  id CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT socio (#PCDATA)>